<div class="form-field">
  <ng-container *ngIf="label">
    <!-- Floating Label -->
    <span class="p-float-label" *ngIf="floatingLabel">
      <p-dropdown
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="$any(optionValue)"
        [(ngModel)]="value"
        [filter]="filter"
        [filterBy]="filterBy || optionLabel"
        [filterPlaceholder]="filterPlaceholder"
        [filterMatchMode]="filterMatchMode"
        [resetFilterOnHide]="resetFilterOnHide"
        [showClear]="showClear"
        [editable]="editable"
        [autoDisplayFirst]="autoDisplayFirst"
        [scrollHeight]="scrollHeight"
        [emptyMessage]="emptyMessage"
        [emptyFilterMessage]="emptyFilterMessage"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [style]="style || { width: '100%' }"
        [panelStyle]="panelStyle || { width: '100%' }"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [ngClass]="{ 'ng-invalid ng-dirty': showError }"
        (onChange)="onValueChange($event.value)"
        (onBlur)="onBlur()"
        [inputId]="inputId"
        [appendTo]="appendTo"
      >
      </p-dropdown>
      <label [for]="inputId">
        {{ label }}
        <span class="required" *ngIf="required">*</span>
      </label>
    </span>
    <!-- Normal Label -->
    <ng-container *ngIf="!floatingLabel">
      <label class="normal-label">
        {{ label }}
        <span class="required" *ngIf="required">*</span>
      </label>
      <p-dropdown
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="$any(optionValue)"
        [(ngModel)]="value"
        [filter]="filter"
        [filterBy]="filterBy || optionLabel"
        [filterPlaceholder]="filterPlaceholder"
        [filterMatchMode]="filterMatchMode"
        [resetFilterOnHide]="resetFilterOnHide"
        [showClear]="showClear"
        [editable]="editable"
        [autoDisplayFirst]="autoDisplayFirst"
        [scrollHeight]="scrollHeight"
        [emptyMessage]="emptyMessage"
        [emptyFilterMessage]="emptyFilterMessage"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="virtualScrollItemSize"
        [style]="style || { width: '100%' }"
        [panelStyle]="panelStyle || { width: '100%' }"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [ngClass]="{ 'ng-invalid ng-dirty': showError }"
        (onChange)="onValueChange($event.value)"
        (onBlur)="onBlur()"
        [appendTo]="appendTo"
      >
      </p-dropdown>
    </ng-container>
  </ng-container>
  <!-- No Label -->
  <p-dropdown
    *ngIf="!label"
    [options]="options"
    [optionLabel]="optionLabel"
    [optionValue]="$any(optionValue)"
    [(ngModel)]="value"
    [filter]="filter"
    [filterBy]="filterBy || optionLabel"
    [filterPlaceholder]="filterPlaceholder"
    [filterMatchMode]="filterMatchMode"
    [resetFilterOnHide]="resetFilterOnHide"
    [showClear]="showClear"
    [editable]="editable"
    [autoDisplayFirst]="autoDisplayFirst"
    [scrollHeight]="scrollHeight"
    [emptyMessage]="emptyMessage"
    [emptyFilterMessage]="emptyFilterMessage"
    [virtualScroll]="virtualScroll"
    [virtualScrollItemSize]="virtualScrollItemSize"
    [style]="style || { width: '100%' }"
    [panelStyle]="panelStyle || { width: '100%' }"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [ngClass]="{ 'ng-invalid ng-dirty': showError }"
    (onChange)="onValueChange($event.value)"
    (onBlur)="onBlur()"
    [appendTo]="appendTo"
  >
  </p-dropdown>
  <small class="error-message" *ngIf="showError && errorMessage">
    {{ errorMessage }}
  </small>
</div>
