<div class="form-field">
  <label *ngIf="label">
    {{ label }}
    <span class="required" *ngIf="required">*</span>
  </label>
  <!-- Textarea Mode -->
  <ng-container *ngIf="inputMode === 'textarea'; else inputBlock">
    <textarea
      pInputTextarea
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled || inputDisabled"
      [readonly]="readonly"
      [rows]="rows"
      [autoResize]="autoResize"
      [attr.maxlength]="maxLength"
      [attr.minlength]="minLength"
      [ngClass]="{ 'ng-invalid ng-dirty': showError }"
      (input)="onInputChange($event)"
      (blur)="onBlur()"
    >
    </textarea>
  </ng-container>
  <!-- Input Mode -->
  <ng-template #inputBlock>
    <ng-container *ngIf="icon || showPasswordToggle; else noIconInput">
      <span
        [ngClass]="{
          'p-input-icon-left': icon,
          'p-input-icon-right': showPasswordToggle,
        }"
      >
        <i *ngIf="icon" class="pi {{ icon }}"></i>
        <input
          [type]="inputType"
          pInputText
          [placeholder]="placeholder"
          [value]="value"
          [disabled]="disabled || inputDisabled"
          [readonly]="readonly"
          [attr.maxlength]="maxLength"
          [attr.minlength]="minLength"
          [ngClass]="{ 'ng-invalid ng-dirty': showError }"
          (input)="onInputChange($event)"
          (blur)="onBlur()"
        />
        <i
          *ngIf="showPasswordToggle"
          class="pi"
          [ngClass]="passwordVisible ? 'pi-eye-slash' : 'pi-eye'"
          style="cursor: pointer"
          (click)="togglePasswordVisibility($event)"
        ></i>
      </span>
    </ng-container>
    <ng-template #noIconInput>
      <input
        [type]="inputType"
        pInputText
        [placeholder]="placeholder"
        [value]="value"
        [disabled]="disabled || inputDisabled"
        [readonly]="readonly"
        [attr.maxlength]="maxLength"
        [attr.minlength]="minLength"
        [ngClass]="{ 'ng-invalid ng-dirty': showError }"
        (input)="onInputChange($event)"
        (blur)="onBlur()"
      />
    </ng-template>
  </ng-template>
  <small class="error-message" *ngIf="showError && errorMessage">
    {{ errorMessage }}
  </small>
</div>
