<div class="polar-chart-container">
    <div class="chart-wrapper">
        <div class="chart-section">
            <ngx-charts-polar-chart [results]="data" [view]="view!" [scheme]="colorSchemeObj" [legend]="config.legend"
                [legendTitle]="config.legendTitle" [legendPosition]="getLegendPosition()" [xAxis]="config.xAxis"
                [yAxis]="config.yAxis" [showGridLines]="config.showGridLines" [roundDomains]="config.roundDomains"
                [showXAxisLabel]="config.showXAxisLabel" [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel" [yAxisLabel]="config.yAxisLabel" [autoScale]="config.autoScale"
                [gradient]="config.gradient" [rangeFillOpacity]="config.rangeFillOpacity"
                [animations]="config.animations" [curve]="getCurve()" [labelTrim]="config.labelTrim"
                [labelTrimSize]="config.labelTrimSize" [tooltipDisabled]="config.tooltipDisabled"
                [showSeriesOnHover]="config.showSeriesOnHover" (select)="onChartSelect($event)"
                (activate)="onChartActivate($event)" (deactivate)="onChartDeactivate($event)">
            </ngx-charts-polar-chart>
        </div>
    </div>
</div>