.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Full viewport height
  width: 100%;
  background-color: var(--home-background-color);
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0; // Important for Firefox
}
.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
