<div class="ds-picker">
  <app-custom-dropdown
    [(ngModel)]="selectedDatasource"
    [serverMode]="true"
    [fetcher]="loadDatasourcesPage"
    [pageSize]="10"
    [preloadedItems]="preloadedDatasources"
    [preloadedTotal]="preloadedDatasourcesTotal"
    optionLabel="name"
    optionValue="id"
    [filter]="true"
    [floatingLabel]="floatingLabel"
    [label]="'COMMON.DATASOURCE' | translate"
    [placeholder]="placeholder | translate"
    filterBy="name"
    [showClear]="allowClear"
    appendTo="body"
    (onChangeEvent)="onDatasourceChange($event)"
    icon="pi-database"
  ></app-custom-dropdown>
</div>
