<div class="dataset-page-wrapper">
  <div class="dataset-content-container">
    <!-- Header Section: title on the left, page actions on the right -->
    <div class="page-header-section">
      <div class="header-content">
        <h2>{{ 'SYSTEM_ADMIN.TITLE' | translate }}</h2>
      </div>

      <div class="header-actions">
        <!-- Bulk Delete Button -->
        <button
          *ngIf="selectedCount > 0"
          pButton
          [label]="('COMMON.DELETE' | translate) + ' (' + selectedCount + ')'"
          icon="pi pi-trash"
          (click)="confirmBulkDelete()"
          class="p-button-raised p-button-danger modern-button"
        ></button>

        <!-- Clear Filters Button -->
        <button
          pButton
          [label]="'COMMON.CLEAR' | translate"
          icon="pi pi-filter-slash"
          (click)="clearFilters()"
          [disabled]="!isFilterActive"
          class="p-button-outlined p-button-danger modern-button"
        ></button>

        <!-- Add Button -->
        <button
          pButton
          [label]="'COMMON.ADD' | translate"
          icon="pi pi-plus"
          (click)="onAddNewAdmin()"
          class="p-button-raised p-button-primary modern-button"
        ></button>
      </div>
    </div>

    <!-- Content Card -->
    <div class="content-card">
      <!-- Table -->
      <div class="table-wrapper">
        <p-table
          #dt
          [value]="admins()"
          [rows]="10"
          [paginator]="true"
          [lazy]="true"
          [filterDelay]="1000"
          (onLazyLoad)="loadSuperAdmins($event)"
          [totalRecords]="total()"
          [rowHover]="true"
          dataKey="id"
          [(selection)]="selectedAdmins"
          [rowSelectable]="isRowSelectable"
          currentPageReportTemplate="{first} - {last} of {totalRecords}"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50, 100]"
          styleClass="p-datatable-sm modern-table"
          [scrollable]="true"
          scrollHeight="flex"
          [tableStyle]="{ 'min-width': '93rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 2.75rem; min-width: 2.75rem" pFrozenColumn>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th
                style="width: 12rem; min-width: 12rem"
                pFrozenColumn
                class="sortable-th"
                [class.is-sorted]="!!sortHelper.direction('username')"
                (click)="toggleSort('username')"
              >
                <div class="th-content">
                  <span>{{ 'COMMON.USERNAME' | translate }}</span>
                  <span class="sort-indicator" [class.is-sorted]="!!sortHelper.direction('username')">
                    <i class="pi" [ngClass]="{
                      'pi-arrow-up': sortHelper.direction('username') === 'asc',
                      'pi-arrow-down': sortHelper.direction('username') === 'desc',
                      'pi-arrows-v': !sortHelper.direction('username'),
                    }"></i>
                    <span class="sort-badge" *ngIf="sortHelper.index('username') > 0 && sortHelper.size > 1">{{ sortHelper.index('username') }}</span>
                  </span>
                </div>
              </th>
              <th
                style="width: 10rem; min-width: 10rem"
                class="sortable-th"
                [class.is-sorted]="!!sortHelper.direction('firstName')"
                (click)="toggleSort('firstName')"
              >
                <div class="th-content">
                  <span>{{ 'COMMON.FIRST_NAME' | translate }}</span>
                  <span class="sort-indicator" [class.is-sorted]="!!sortHelper.direction('firstName')">
                    <i class="pi" [ngClass]="{
                      'pi-arrow-up': sortHelper.direction('firstName') === 'asc',
                      'pi-arrow-down': sortHelper.direction('firstName') === 'desc',
                      'pi-arrows-v': !sortHelper.direction('firstName'),
                    }"></i>
                    <span class="sort-badge" *ngIf="sortHelper.index('firstName') > 0 && sortHelper.size > 1">{{ sortHelper.index('firstName') }}</span>
                  </span>
                </div>
              </th>
              <th
                style="width: 10rem; min-width: 10rem"
                class="sortable-th"
                [class.is-sorted]="!!sortHelper.direction('lastName')"
                (click)="toggleSort('lastName')"
              >
                <div class="th-content">
                  <span>{{ 'COMMON.LAST_NAME' | translate }}</span>
                  <span class="sort-indicator" [class.is-sorted]="!!sortHelper.direction('lastName')">
                    <i class="pi" [ngClass]="{
                      'pi-arrow-up': sortHelper.direction('lastName') === 'asc',
                      'pi-arrow-down': sortHelper.direction('lastName') === 'desc',
                      'pi-arrows-v': !sortHelper.direction('lastName'),
                    }"></i>
                    <span class="sort-badge" *ngIf="sortHelper.index('lastName') > 0 && sortHelper.size > 1">{{ sortHelper.index('lastName') }}</span>
                  </span>
                </div>
              </th>
              <th
                style="min-width: 18rem"
                class="sortable-th"
                [class.is-sorted]="!!sortHelper.direction('email')"
                (click)="toggleSort('email')"
              >
                <div class="th-content">
                  <span>{{ 'COMMON.EMAIL' | translate }}</span>
                  <span class="sort-indicator" [class.is-sorted]="!!sortHelper.direction('email')">
                    <i class="pi" [ngClass]="{
                      'pi-arrow-up': sortHelper.direction('email') === 'asc',
                      'pi-arrow-down': sortHelper.direction('email') === 'desc',
                      'pi-arrows-v': !sortHelper.direction('email'),
                    }"></i>
                    <span class="sort-badge" *ngIf="sortHelper.index('email') > 0 && sortHelper.size > 1">{{ sortHelper.index('email') }}</span>
                  </span>
                </div>
              </th>
              <th
                style="width: 9rem; min-width: 9rem"
                class="sortable-th"
                [class.is-sorted]="!!sortHelper.direction('status')"
                (click)="toggleSort('status')"
              >
                <div class="th-content">
                  <span>{{ 'COMMON.STATUS' | translate }}</span>
                  <span class="sort-indicator" [class.is-sorted]="!!sortHelper.direction('status')">
                    <i class="pi" [ngClass]="{
                      'pi-arrow-up': sortHelper.direction('status') === 'asc',
                      'pi-arrow-down': sortHelper.direction('status') === 'desc',
                      'pi-arrows-v': !sortHelper.direction('status'),
                    }"></i>
                    <span class="sort-badge" *ngIf="sortHelper.index('status') > 0 && sortHelper.size > 1">{{ sortHelper.index('status') }}</span>
                  </span>
                </div>
              </th>
              <th
                style="width: 12rem; min-width: 12rem"
                class="sortable-th"
                [class.is-sorted]="!!sortHelper.direction('lastLogin')"
                (click)="toggleSort('lastLogin')"
              >
                <div class="th-content">
                  <span>{{ 'COMMON.LAST_LOGIN' | translate }}</span>
                  <span class="sort-indicator" [class.is-sorted]="!!sortHelper.direction('lastLogin')">
                    <i class="pi" [ngClass]="{
                      'pi-arrow-up': sortHelper.direction('lastLogin') === 'asc',
                      'pi-arrow-down': sortHelper.direction('lastLogin') === 'desc',
                      'pi-arrows-v': !sortHelper.direction('lastLogin'),
                    }"></i>
                    <span class="sort-badge" *ngIf="sortHelper.index('lastLogin') > 0 && sortHelper.size > 1">{{ sortHelper.index('lastLogin') }}</span>
                  </span>
                </div>
              </th>
              <th
                style="width: 12rem; min-width: 12rem"
                class="sortable-th"
                [class.is-sorted]="!!sortHelper.direction('createdOn')"
                (click)="toggleSort('createdOn')"
              >
                <div class="th-content">
                  <span>{{ 'COMMON.CREATED_ON' | translate }}</span>
                  <span class="sort-indicator" [class.is-sorted]="!!sortHelper.direction('createdOn')">
                    <i class="pi" [ngClass]="{
                      'pi-arrow-up': sortHelper.direction('createdOn') === 'asc',
                      'pi-arrow-down': sortHelper.direction('createdOn') === 'desc',
                      'pi-arrows-v': !sortHelper.direction('createdOn'),
                    }"></i>
                    <span class="sort-badge" *ngIf="sortHelper.index('createdOn') > 0 && sortHelper.size > 1">{{ sortHelper.index('createdOn') }}</span>
                  </span>
                </div>
              </th>
              <th style="width: 7rem; min-width: 7rem">
                <div class="th-content actions-th">{{ 'COMMON.ACTIONS' | translate }}</div>
              </th>
            </tr>
            <!-- Filter Row -->
            <tr>
              <th pFrozenColumn></th>
              <th pFrozenColumn>
                <app-custom-input
                  [(ngModel)]="filterValues.username"
                  (ngModelChange)="onFilterChange()"
                  [placeholder]="'COMMON.SEARCH_USERNAME' | translate"
                ></app-custom-input>
              </th>
              <th>
                <app-custom-input
                  [(ngModel)]="filterValues.firstName"
                  (ngModelChange)="onFilterChange()"
                  [placeholder]="'COMMON.SEARCH_FIRST_NAME' | translate"
                ></app-custom-input>
              </th>
              <th>
                <app-custom-input
                  [(ngModel)]="filterValues.lastName"
                  (ngModelChange)="onFilterChange()"
                  [placeholder]="'COMMON.SEARCH_LAST_NAME' | translate"
                ></app-custom-input>
              </th>
              <th>
                <app-custom-input
                  [(ngModel)]="filterValues.email"
                  (ngModelChange)="onFilterChange()"
                  [placeholder]="'COMMON.SEARCH_EMAIL' | translate"
                ></app-custom-input>
              </th>
              <th>
                <app-custom-dropdown
                  [(ngModel)]="filterValues.status"
                  [options]="statusOptions"
                  optionLabel="label"
                  optionValue="value"
                  [placeholder]="'COMMON.ALL' | translate"
                  [showClear]="true"
                  [filter]="false"
                  appendTo="body"
                  (onChangeEvent)="onFilterChange()"
                ></app-custom-dropdown>
              </th>
              <th>
                <app-custom-daterange
                  [(ngModel)]="filterValues.lastLoginDateRange"
                  [placeholder]="'COMMON.SELECT_RANGE' | translate"
                  [showButtonBar]="true"
                  [maxDate]="today"
                  (onChangeEvent)="onLastLoginDateRangeChange($event)"
                ></app-custom-daterange>
              </th>
              <th>
                <app-custom-daterange
                  [(ngModel)]="filterValues.createdDateRange"
                  [placeholder]="'COMMON.SELECT_RANGE' | translate"
                  [showButtonBar]="true"
                  [maxDate]="today"
                  (onChangeEvent)="onCreatedDateRangeChange($event)"
                ></app-custom-daterange>
              </th>
              <th>
                <!-- No filter for Actions -->
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-admin>
            <tr class="modern-row">
              <td pFrozenColumn>
                <p-tableCheckbox
                  [value]="admin"
                  [disabled]="!admin.canDelete"
                ></p-tableCheckbox>
              </td>
              <td pFrozenColumn>
                <a
                  class="dataset-name-link"
                  [routerLink]="['/app/admins', admin.id]"
                >
                  {{ admin.username }}
                </a>
              </td>
              <td>
                <span class="description-text">{{ admin.firstName }}</span>
              </td>
              <td>
                <span class="description-text">{{ admin.lastName }}</span>
              </td>
              <td>
                <span class="description-text" [title]="admin.email">{{
                  admin.email
                }}</span>
              </td>
              <td>
                <span
                  class="status-pill"
                  [ngClass]="{
                    locked: admin.isLocked,
                    active: !admin.isLocked && admin.status === 1,
                    inactive: !admin.isLocked && admin.status !== 1,
                  }"
                >
                  <span class="dot"></span>
                  <span class="label">
                    {{
                      admin.isLocked
                        ? ('COMMON.LOCKED' | translate)
                        : admin.status === 1
                          ? ('COMMON.ACTIVE' | translate)
                          : ('COMMON.INACTIVE' | translate)
                    }}
                  </span>
                </span>
              </td>
              <td>
                <span
                  class="date-text"
                  [title]="admin.lastLogin ? (admin.lastLogin | date: 'dd MMM yyyy, HH:mm:ss') : ''"
                >
                  {{ admin.lastLogin ? (admin.lastLogin | date: 'dd MMM yyyy, HH:mm') : ('COMMON.NEVER' | translate) }}
                </span>
              </td>
              <td>
                <span
                  class="date-text"
                  [title]="admin.createdOn | date: 'dd MMM yyyy, HH:mm:ss'"
                >
                  {{ admin.createdOn | date: 'dd MMM yyyy, HH:mm' }}
                </span>
              </td>
              <td>
                <div class="row-actions">
                  <button
                    *ngIf="admin.isLocked"
                    class="icon-btn unlock-btn"
                    (click)="onUnlock(admin.id)"
                    [pTooltip]="'COMMON.UNLOCK_ACCOUNT' | translate"
                    tooltipPosition="bottom"
                  >
                    <i class="pi pi-lock-open"></i>
                  </button>
                  <button
                    class="icon-btn edit-btn"
                    (click)="onEdit(admin.id)"
                    [disabled]="admin.id == loggedInUserId"
                    [pTooltip]="'COMMON.EDIT' | translate"
                    tooltipPosition="bottom"
                  >
                    <i class="pi pi-pencil"></i>
                  </button>
                  <button
                    class="icon-btn delete-btn"
                    (click)="confirmDelete(admin.id)"
                    [disabled]="!admin.canDelete"
                    [pTooltip]="
                      !admin.canDelete
                        ? admin.isDefault === 1
                          ? ('COMMON.DEFAULT_ADMIN_NO_DELETE' | translate)
                          : ('COMMON.CANNOT_DELETE_SELF' | translate)
                        : ('COMMON.DELETE' | translate)
                    "
                    tooltipPosition="bottom"
                  >
                    <i class="pi pi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="empty-row">
              <td colspan="9" class="empty-message-cell">
                <div class="empty-state-inline">
                  <i class="pi pi-search empty-state-icon"></i>
                  <span class="empty-state-text">
                    {{ 'COMMON.NO_RECORD_FOUND' | translate }}&nbsp;&mdash; {{ 'COMMON.TRY_ADJUST_FILTERS' | translate }}
                  </span>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorright">
            <button
              type="button"
              class="paginator-refresh-btn"
              (click)="refreshList()"
              [attr.aria-label]="'COMMON.REFRESH' | translate"
            >
              <i class="pi pi-refresh"></i>
            </button>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<div class="confirmation-popup" *ngIf="showDeleteConfirm">
  <div class="popup-content">
    <!-- Header -->
    <div class="popup-header">
      <div class="popup-icon">
        <i class="pi pi-trash"></i>
      </div>
      <h3>{{ 'COMMON.CONFIRM_DELETE' | translate }}</h3>
    </div>

    <!-- Delete Info Section -->
    <div class="standard-delete-section">
      <p class="delete-intro" *ngIf="!bulkDelete">
        {{ 'SYSTEM_ADMIN.DELETE_SINGLE' | translate }}
      </p>
      <p class="delete-intro" *ngIf="bulkDelete" [innerHTML]="'SYSTEM_ADMIN.DELETE_BULK' | translate:{ count: selectedCount }">
      </p>

      <ul class="delete-info-list">
        <li>
          <i class="pi pi-info-circle"></i>
          <span>{{ 'COMMON.DELETE_ACCESS_REVOKED' | translate }}</span>
        </li>
        <li>
          <i class="pi pi-info-circle"></i>
          <span>{{ 'COMMON.DELETE_CREDENTIALS_INVALIDATED' | translate }}</span>
        </li>
        <li>
          <i class="pi pi-info-circle"></i>
          <span>{{ 'COMMON.DELETE_CANNOT_UNDO' | translate }}</span>
        </li>
      </ul>

      <div class="justification-section">
        <label for="deleteJustification"
          >{{ 'COMMON.JUSTIFICATION' | translate }} <span class="required">*</span></label
        >
        <textarea
          id="deleteJustification"
          [(ngModel)]="deleteJustification"
          [placeholder]="'COMMON.JUSTIFICATION_DELETE_PLACEHOLDER' | translate"
          rows="3"
          maxlength="500"
        ></textarea>
        <small class="char-count">{{ deleteJustification.length }}/500</small>
      </div>
    </div>

    <!-- Actions -->
    <div class="popup-actions">
      <button class="btn-cancel" (click)="cancelDelete()">
        <i class="pi pi-times"></i>
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        class="btn-confirm"
        (click)="proceedDelete()"
        [disabled]="!deleteJustification.trim()"
      >
        <i class="pi pi-trash"></i>
        {{ 'COMMON.DELETE' | translate }}
      </button>
    </div>
  </div>
</div>
