<div class="super-admin-wrapper">
  <div class="super-admin-container">
    <div class="page-header">
      <h2>List of Customers</h2>
      <span class="p-input-icon-left global-search">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Global Search" />
      </span>
    </div>

    <div class="table-wrapper">
      <p-table
        [value]="filteredScreens"
        [rows]="10"
        [paginator]="true"
        [totalRecords]="totalItems"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [tableStyle]="{ 'min-width': '100%' }"
        styleClass="p-datatable-gridlines"
        [rowHover]="true"
        [selectionMode]="'multiple'"
        [(selection)]="selectedCustomers"
        dataKey="id"
        responsiveLayout="scroll"
        [scrollable]="true"
        scrollHeight="flex"
        [loading]="loading"
        [loadingIcon]="'pi pi-spinner'"
        [showLoader]="true"
      >
        <ng-template pTemplate="loadingbody" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <p-skeleton></p-skeleton>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9">
              <div class="empty-message">
                <i
                  class="pi pi-inbox"
                  style="font-size: 3rem; color: var(--text-color-secondary)"
                ></i>
                <h3>No Records Found</h3>
                <p>There are no customers to display at the moment.</p>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country">
              Country <p-sortIcon field="country"></p-sortIcon>
            </th>
            <th pSortableColumn="agent">
              Agent <p-sortIcon field="agent"></p-sortIcon>
            </th>
            <th pSortableColumn="date">
              Date <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th pSortableColumn="balance" style="text-align: right">
              Balance <p-sortIcon field="balance"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="activity">
              Activity <p-sortIcon field="activity"></p-sortIcon>
            </th>
            <th style="width: 5rem"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>
              <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
              <span class="customer-name">{{ customer.name }}</span>
            </td>
            <td>
              <div class="country-item">
                <img
                  [src]="'assets/flags/' + customer.country.code + '.png'"
                  [alt]="customer.country.name"
                  class="flag-icon"
                />
                <span>{{ customer.country.name }}</span>
              </div>
            </td>
            <td>
              <div class="agent-item">
                <img [src]="customer.agent.avatar" class="agent-avatar" />
                <span>{{ customer.agent.name }}</span>
              </div>
            </td>
            <td>{{ customer.date | date : 'MM/dd/yyyy' }}</td>
            <td style="text-align: right">
              ${{ customer.balance | number : '1.2-2' }}
            </td>
            <td>
              <span
                [class]="'status-badge status-' + customer.status.toLowerCase()"
              >
                {{ customer.status }}
              </span>
            </td>
            <td>
              <p-progressBar
                [value]="customer.activity"
                [showValue]="false"
                [style]="{ height: '6px' }"
              ></p-progressBar>
            </td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-ellipsis-v"
                class="p-button-rounded p-button-text"
                (click)="menu.toggle($event)"
              ></button>
              <p-menu #menu [popup]="true" [model]="actionItems"></p-menu>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div class="confirmation-popup" *ngIf="showDeleteConfirm">
  <div class="popup-content">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete this Section?</p>
    <div class="popup-actions">
      <button class="btn-cancel" (click)="cancelDelete()">No</button>
      <button class="btn-confirm" (click)="proceedDelete()">Yes</button>
    </div>
  </div>
</div>
