<div class="add-admin-wrapper">
  <div class="add-admin-container">
    <!-- Header Section -->
    <div class="page-header">
      <div class="left-section">
        <button
          pButton
          class="p-button-text p-button-plain back-button"
          routerLink="/app/query-builder"
        >
          <i class="pi pi-arrow-left text-xl"></i>
        </button>
        <h2>{{ 'QUERY_BUILDER_MODULE.ADD_TITLE' | translate }}</h2>
      </div>
      <div class="action-buttons">
        <button
          pButton
          type="button"
          [label]="'COMMON.CANCEL' | translate"
          class="p-button-outlined btn-cancel"
          [disabled]="!isFormDirty"
          (click)="onCancel()"
        ></button>
        <button
          pButton
          class="p-button-primary btn-save"
          type="submit"
          [label]="'COMMON.SAVE' | translate"
          (click)="onSubmit()"
          [disabled]="queryBuilderForm.invalid || saving()"
        >
          <i class="pi pi-save mr-2"></i>
        </button>
      </div>
    </div>

    <!-- Form Section -->
    <form [formGroup]="queryBuilderForm" class="admin-form">
      <!-- Organisation and Datasource dropdowns -->
      <div class="form-grid">
        <div class="form-field">
          <app-custom-input
            formControlName="name"
            [label]="'COMMON.NAME' | translate"
            [placeholder]="'COMMON.ENTER_NAME' | translate"
            icon="pi-box"
            [required]="true"
            [showError]="
              !!(
                queryBuilderForm.get('name')?.invalid &&
                queryBuilderForm.get('name')?.touched
              )
            "
            [errorMessage]="getNameError()"
          >
          </app-custom-input>
        </div>

        <div class="form-field">
          <app-custom-input
            formControlName="description"
            [label]="'COMMON.DESCRIPTION' | translate"
            [placeholder]="'COMMON.ENTER_DESCRIPTION' | translate"
            icon="pi-align-left"
          >
          </app-custom-input>
        </div>

        <div class="form-field" *ngIf="showOrganisationDropdown">
          <app-custom-dropdown
            formControlName="organisation"
            [label]="'COMMON.ORGANISATION' | translate"
            [placeholder]="'COMMON.SELECT_ORGANISATION' | translate"
            [options]="organisations"
            optionLabel="name"
            optionValue="id"
            [filter]="true"
            filterBy="name"
            [required]="true"
            [showError]="
              !!(
                queryBuilderForm.get('organisation')?.invalid &&
                queryBuilderForm.get('organisation')?.touched
              )
            "
            [errorMessage]="'COMMON.ORGANISATION' | translate"
            (onChangeEvent)="onOrganisationChange({ value: $event })"
          >
          </app-custom-dropdown>
        </div>

        <div class="form-field">
          <app-custom-dropdown
            formControlName="datasource"
            [label]="'COMMON.DATASOURCE' | translate"
            [placeholder]="'COMMON.SELECT_DATASOURCE' | translate"
            [options]="datasources"
            optionLabel="name"
            optionValue="id"
            [filter]="true"
            filterBy="name"
            [required]="true"
            [showError]="
              !!(
                queryBuilderForm.get('datasource')?.invalid &&
                queryBuilderForm.get('datasource')?.touched
              )
            "
            [errorMessage]="'COMMON.DATASOURCE' | translate"
          >
          </app-custom-dropdown>
        </div>
      </div>
    </form>
  </div>
</div>
