:host {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.area-chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chart-wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 0;
}

.chart-section {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: transparent;
  min-height: 150px;
  min-width: 200px;
  contain: layout style;
  overflow: hidden;

  ngx-charts-area-chart {
    width: 100%;
    height: 100%;
    flex: 1;
    display: block;
  }
}
