<div class="dataset-page-wrapper">
  <div class="dataset-content-container">
    <!-- Header Section -->
    <div class="page-header-section">
      <div class="header-content">
        <h2>{{ 'USER.TITLE' | translate }}</h2>
        <p class="subtitle">{{ 'USER.SUBTITLE' | translate }}</p>
      </div>
    </div>

    <!-- Unified Toolbar & Content Card -->
    <div class="content-card">
      <div class="card-toolbar">
        <div class="toolbar-left">
          <!-- Organisation Dropdown -->
          <div class="dropdown-field" *ngIf="showOrganisationDropdown">
            <app-custom-dropdown
              [(ngModel)]="selectedOrg"
              [options]="organisations"
              optionLabel="name"
              optionValue="id"
              [filter]="true"
              [label]="'COMMON.ORGANISATION' | translate"
              [floatingLabel]="true"
              filterBy="name"
              (onChangeEvent)="onOrgChange($event)"
            >
            </app-custom-dropdown>
          </div>
        </div>

        <div class="toolbar-right">
          <!-- Bulk Delete Button -->
          <button
            *ngIf="selectedCount > 0"
            pButton
            [label]="'COMMON.DELETE_COUNT' | translate:{ count: selectedCount }"
            icon="pi pi-trash"
            (click)="confirmBulkDelete()"
            class="p-button-raised p-button-danger modern-button mr-2"
          ></button>

          <!-- Clear Filters Button -->
          <button
            pButton
            [label]="'COMMON.CLEAR' | translate"
            icon="pi pi-filter-slash"
            (click)="clearFilters()"
            [disabled]="!isFilterActive"
            class="p-button-outlined p-button-danger modern-button mr-2"
          ></button>

          <!-- Add Button -->
          <button
            pButton
            [label]="'COMMON.ADD' | translate"
            icon="pi pi-plus"
            (click)="onAddNewAdmin()"
            class="p-button-raised p-button-primary modern-button"
          ></button>
        </div>
      </div>

      <!-- Table -->
      <div class="table-wrapper">
        <p-table
          #dt
          [value]="users()"
          [rows]="10"
          [paginator]="true"
          [lazy]="true"
          (onLazyLoad)="loadUsers($event)"
          [totalRecords]="total()"
          [globalFilterFields]="['firstName', 'lastName', 'email', 'status']"
          [rowHover]="true"
          dataKey="id"
          [(selection)]="selectedUsers"
          [rowSelectable]="isRowSelectable"
          currentPageReportTemplate="{first} - {last} of {totalRecords}"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50, 100]"
          styleClass="p-datatable-sm modern-table"
          [scrollable]="true"
          scrollHeight="calc(100vh - 440px)"
          [tableStyle]="{ 'min-width': '88rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem" pFrozenColumn>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th style="width: 10rem" pFrozenColumn>
                <div class="th-content">{{ 'COMMON.USERNAME' | translate }}</div>
              </th>
              <th style="width: 9rem">
                <div class="th-content">{{ 'COMMON.FIRST_NAME' | translate }}</div>
              </th>
              <th style="width: 9rem">
                <div class="th-content">{{ 'COMMON.LAST_NAME' | translate }}</div>
              </th>
              <th style="width: 14rem">
                <div class="th-content">{{ 'COMMON.EMAIL' | translate }}</div>
              </th>
              <th style="width: 10rem">
                <div class="th-content">{{ 'USER.GROUPS' | translate }}</div>
              </th>
              <th style="width: 7rem">
                <div class="th-content">{{ 'COMMON.STATUS' | translate }}</div>
              </th>
              <th style="width: 10rem">
                <div class="th-content">{{ 'COMMON.LAST_LOGIN' | translate }}</div>
              </th>
              <th style="width: 10rem">
                <div class="th-content">{{ 'COMMON.CREATED_ON' | translate }}</div>
              </th>
              <th style="width: 6rem">
                <div class="th-content">{{ 'COMMON.ACTIONS' | translate }}</div>
              </th>
            </tr>
            <!-- Filter Row -->
            <tr>
              <th pFrozenColumn></th>
              <th pFrozenColumn>
                <app-custom-input
                  [(ngModel)]="filterValues.username"
                  (ngModelChange)="onFilterChange()"
                  [placeholder]="'COMMON.SEARCH_USERNAME' | translate"
                ></app-custom-input>
              </th>
              <th>
                <app-custom-input
                  [(ngModel)]="filterValues.firstName"
                  (ngModelChange)="onFilterChange()"
                  [placeholder]="'COMMON.SEARCH_FIRST_NAME' | translate"
                ></app-custom-input>
              </th>
              <th>
                <app-custom-input
                  [(ngModel)]="filterValues.lastName"
                  (ngModelChange)="onFilterChange()"
                  [placeholder]="'COMMON.SEARCH_LAST_NAME' | translate"
                ></app-custom-input>
              </th>
              <th>
                <app-custom-input
                  [(ngModel)]="filterValues.email"
                  (ngModelChange)="onFilterChange()"
                  [placeholder]="'COMMON.SEARCH_EMAIL' | translate"
                ></app-custom-input>
              </th>
              <th>
                <app-custom-dropdown
                  [(ngModel)]="selectedGroup"
                  [options]="groups"
                  optionLabel="name"
                  optionValue="id"
                  [placeholder]="'COMMON.ALL' | translate"
                  [showClear]="true"
                  [filter]="true"
                  filterBy="name"
                  [autoDisplayFirst]="false"
                  appendTo="body"
                  (onChangeEvent)="onGroupChange($event)"
                ></app-custom-dropdown>
              </th>
              <th>
                <app-custom-dropdown
                  [(ngModel)]="filterValues.status"
                  [options]="statusOptions"
                  optionLabel="label"
                  optionValue="value"
                  [placeholder]="'COMMON.ALL' | translate"
                  [showClear]="true"
                  [filter]="false"
                  [autoDisplayFirst]="false"
                  appendTo="body"
                  (onChangeEvent)="onFilterChange()"
                ></app-custom-dropdown>
              </th>
              <th>
                <app-custom-daterange
                  [(ngModel)]="filterValues.lastLoginDateRange"
                  [placeholder]="'COMMON.SELECT_RANGE' | translate"
                  [showButtonBar]="true"
                  [maxDate]="today"
                  (onChangeEvent)="onLastLoginDateRangeChange($event)"
                ></app-custom-daterange>
              </th>
              <th>
                <app-custom-daterange
                  [(ngModel)]="filterValues.createdDateRange"
                  [placeholder]="'COMMON.SELECT_RANGE' | translate"
                  [showButtonBar]="true"
                  [maxDate]="today"
                  (onChangeEvent)="onCreatedDateRangeChange($event)"
                ></app-custom-daterange>
              </th>
              <th>
                <!-- No filter for Actions -->
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr class="modern-row">
              <td pFrozenColumn>
                <p-tableCheckbox
                  [value]="user"
                  [disabled]="!user.canDelete"
                ></p-tableCheckbox>
              </td>
              <td pFrozenColumn>
                <a
                  class="dataset-name-link"
                  [routerLink]="['/app/users/view', selectedOrg, user.id]"
                >
                  {{ user.username }}
                </a>
              </td>
              <td>
                <span class="description-text">{{ user.firstName }}</span>
              </td>
              <td>
                <span class="description-text">{{ user.lastName }}</span>
              </td>
              <td>
                <span class="description-text" [title]="user.email">{{
                  user.email
                }}</span>
              </td>
              <td>
                <span
                  class="description-text"
                  [title]="user.groupNames?.join(', ')"
                >
                  {{ user.groupNames?.join(', ') || ('USER.NO_GROUPS' | translate) }}
                </span>
              </td>
              <td>
                <span
                  class="status-indicator"
                  [ngClass]="{
                    locked: user.isLocked,
                    active: !user.isLocked && user.status === 1,
                    inactive: !user.isLocked && user.status !== 1,
                  }"
                >
                  <span class="dot"></span>
                  {{
                    user.isLocked
                      ? ('COMMON.LOCKED' | translate)
                      : user.status === 1
                        ? ('COMMON.ACTIVE' | translate)
                        : ('COMMON.INACTIVE' | translate)
                  }}
                </span>
              </td>
              <td>
                <span class="date-text">
                  {{
                    user.lastLogin
                      ? (user.lastLogin | date: 'medium')
                      : ('USER.NEVER_LOGGED_IN' | translate)
                  }}
                </span>
              </td>
              <td>
                <span class="date-text">{{
                  user.createdOn | date: 'medium'
                }}</span>
              </td>
              <td>
                <div class="row-actions">
                  <button
                    *ngIf="user.isLocked"
                    class="icon-btn unlock-btn"
                    (click)="onUnlock(user.id)"
                    [pTooltip]="'COMMON.UNLOCK_ACCOUNT' | translate"
                    tooltipPosition="bottom"
                  >
                    <i class="pi pi-lock-open"></i>
                  </button>
                  <button
                    class="icon-btn edit-btn"
                    (click)="onEdit(user.id)"
                    [pTooltip]="'COMMON.EDIT' | translate"
                    tooltipPosition="bottom"
                  >
                    <i class="pi pi-pencil"></i>
                  </button>
                  <button
                    class="icon-btn delete-btn"
                    (click)="confirmDelete(user.id)"
                    [pTooltip]="
                      !user.canDelete
                        ? ('COMMON.NO_DELETE_PERMISSION' | translate)
                        : ('COMMON.DELETE' | translate)
                    "
                    tooltipPosition="bottom"
                    [disabled]="!user.canDelete"
                  >
                    <i class="pi pi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10" class="empty-message-cell text-center">
                {{ 'COMMON.NO_RECORD_FOUND' | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<div class="confirmation-popup" *ngIf="showDeleteConfirm">
  <div class="popup-content">
    <!-- Header -->
    <div class="popup-header">
      <div class="popup-icon">
        <i class="pi pi-trash"></i>
      </div>
      <h3>{{ 'COMMON.CONFIRM_DELETE' | translate }}</h3>
    </div>

    <!-- Delete Info Section -->
    <div class="standard-delete-section">
      <p class="delete-intro" *ngIf="!bulkDelete">
        {{ 'USER.CONFIRM_DELETE_SINGLE' | translate }}
      </p>
      <p class="delete-intro" *ngIf="bulkDelete"
        [innerHTML]="'USER.CONFIRM_DELETE_BULK' | translate:{ count: selectedCount }">
      </p>

      <ul class="delete-info-list">
        <li>
          <i class="pi pi-info-circle"></i>
          <span>{{ 'COMMON.DELETE_ACCESS_REVOKED' | translate }}</span>
        </li>
        <li>
          <i class="pi pi-info-circle"></i>
          <span>{{ 'COMMON.DELETE_CREDENTIALS_INVALIDATED' | translate }}</span>
        </li>
        <li>
          <i class="pi pi-info-circle"></i>
          <span>{{ 'COMMON.DELETE_CANNOT_UNDO' | translate }}</span>
        </li>
      </ul>

      <div class="justification-section">
        <label for="deleteJustification"
          >{{ 'COMMON.JUSTIFICATION' | translate }} <span class="required">*</span></label
        >
        <textarea
          id="deleteJustification"
          [(ngModel)]="deleteJustification"
          [placeholder]="'COMMON.JUSTIFICATION_DELETE_PLACEHOLDER' | translate"
          rows="3"
          maxlength="500"
        ></textarea>
        <small class="char-count">{{ deleteJustification.length }}/500</small>
      </div>
    </div>

    <!-- Actions -->
    <div class="popup-actions">
      <button class="btn-cancel" (click)="cancelDelete()">
        <i class="pi pi-times"></i>
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        class="btn-confirm"
        (click)="proceedDelete()"
        [disabled]="!deleteJustification.trim()"
      >
        <i class="pi pi-trash"></i>
        {{ 'COMMON.DELETE' | translate }}
      </button>
    </div>
  </div>
</div>
