<div class="add-admin-wrapper">
  <div class="add-admin-container">
    <!-- Header Section -->
    <div class="page-header">
      <div class="left-section">
        <button
          pButton
          class="p-button-text back-button"
          routerLink="/app/connections"
        >
          <i class="pi pi-arrow-left"></i>
        </button>
        <h2>{{ 'CONNECTION.ADD_TITLE' | translate }}</h2>
      </div>
      <div class="action-buttons">
        <button
          pButton
          type="button"
          [label]="'COMMON.CANCEL' | translate"
          class="p-button-outlined btn-cancel"
          [disabled]="!isFormDirty"
          (click)="onCancel()"
        ></button>
        <button
          pButton
          class="p-button-primary btn-save"
          type="submit"
          [label]="'COMMON.SAVE' | translate"
          (click)="onSubmit()"
          [disabled]="connectionForm.invalid"
        >
          <i class="pi pi-save mr-2"></i>
        </button>
      </div>
    </div>

    <!-- Form Section -->
    <form [formGroup]="connectionForm" class="admin-form" #formContainer>
      <div class="form-grid">
        <!-- Name Field -->
        <app-custom-input
          formControlName="name"
          [label]="'COMMON.NAME' | translate"
          [placeholder]="'CONNECTION.ENTER_NAME' | translate"
          icon="pi-box"
          [required]="true"
          [showError]="
            !!(
              connectionForm.get('name')?.invalid &&
              connectionForm.get('name')?.touched
            )
          "
          [errorMessage]="getNameError()"
        >
        </app-custom-input>

        <!-- Description Field -->
        <app-custom-input
          formControlName="description"
          [label]="'COMMON.DESCRIPTION' | translate"
          [placeholder]="'CONNECTION.ENTER_DESCRIPTION' | translate"
          icon="pi-align-left"
        >
        </app-custom-input>

        <!-- Organisation Dropdown -->
        <app-custom-dropdown
          *ngIf="showOrganisationDropdown"
          formControlName="organisation"
          [label]="'COMMON.ORGANISATION' | translate"
          [placeholder]="'CONNECTION.SELECT_ORGANISATION' | translate"
          [options]="organisations"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          [required]="true"
          [showError]="
            !!(
              connectionForm.get('organisation')?.invalid &&
              connectionForm.get('organisation')?.touched
            )
          "
          [errorMessage]="'VALIDATION.ORGANISATION_REQUIRED' | translate"
          (onChangeEvent)="onOrganisationChange()"
        >
        </app-custom-dropdown>

        <!-- Datasource Dropdown -->
        <app-custom-dropdown
          formControlName="datasource"
          [label]="'CONNECTION.DATASOURCE' | translate"
          [placeholder]="'CONNECTION.SELECT_DATASOURCE' | translate"
          [options]="datasources"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          [required]="true"
          [showError]="
            !!(
              connectionForm.get('datasource')?.invalid &&
              connectionForm.get('datasource')?.touched
            )
          "
          [errorMessage]="'VALIDATION.DATASOURCE_REQUIRED' | translate"
        >
        </app-custom-dropdown>

        <!-- DB Username -->
        <app-custom-input
          formControlName="dbUsername"
          [label]="'CONNECTION.DATASOURCE_USERNAME' | translate"
          [placeholder]="'CONNECTION.ENTER_DATASOURCE_USERNAME' | translate"
          icon="pi-user"
          [required]="true"
          [showError]="
            !!(
              connectionForm.get('dbUsername')?.invalid &&
              connectionForm.get('dbUsername')?.touched
            )
          "
          [errorMessage]="'VALIDATION.DATASOURCE_USERNAME_REQUIRED' | translate"
        >
        </app-custom-input>

        <!-- DB Password -->
        <app-custom-input
          formControlName="dbPassword"
          [label]="'CONNECTION.DATASOURCE_PASSWORD' | translate"
          [placeholder]="'CONNECTION.ENTER_PASSWORD' | translate"
          icon="pi-lock"
          [required]="true"
          [showPasswordToggle]="true"
          [showError]="
            !!(
              connectionForm.get('dbPassword')?.invalid &&
              connectionForm.get('dbPassword')?.touched
            )
          "
          [errorMessage]="'VALIDATION.DATASOURCE_PASSWORD_REQUIRED' | translate"
        >
        </app-custom-input>
      </div>
    </form>
  </div>
</div>
