<div class="add-admin-wrapper">
    <div class="add-admin-container">
        <!-- Header Section -->
        <div class="page-header">
            <div class="left-section">
                <button pButton class="p-button-text" routerLink="/app/connections">
                    <i class="pi pi-arrow-left"></i>
                </button>
                <h2>Add Connection</h2>
            </div>
            <div class="action-buttons">
                <button pButton type="button" label="Cancel" class="p-button-outlined p-button-danger"
                    [disabled]="!isFormDirty" (click)="onCancel()">
                </button>
                <button pButton class="p-button-outlined" type="submit" label="Save" (click)="onSubmit()"
                    [disabled]="connectionForm.invalid">
                    <i class="pi pi-save mr-2"></i>
                </button>
            </div>
        </div>

        <!-- Form Section -->
        <form [formGroup]="connectionForm" class="admin-form" #formContainer>
            <div class="form-grid">
                <!-- Name Field -->
                <app-custom-input formControlName="name" label="Name" placeholder="Enter name" icon="pi-box"
                    [required]="true"
                    [showError]="!!(connectionForm.get('name')?.invalid && connectionForm.get('name')?.touched)"
                    [errorMessage]="connectionForm.get('name')?.errors?.['required'] ? 'Name is required' : 
                                   connectionForm.get('name')?.errors?.['pattern'] ? 'Name can only contain letters, spaces and hyphens' : ''">
                </app-custom-input>

                <!-- Description Field -->
                <app-custom-input formControlName="description" label="Description" placeholder="Enter description"
                    icon="pi-align-left">
                </app-custom-input>

                <!-- Organisation Dropdown -->
                <app-custom-dropdown *ngIf="showOrganisationDropdown" formControlName="organisation"
                    label="Organisation" placeholder="Select Organisation" [options]="organisations" optionLabel="name"
                    optionValue="id" [filter]="true" filterBy="name" [required]="true"
                    [showError]="!!(connectionForm.get('organisation')?.invalid && connectionForm.get('organisation')?.touched)"
                    errorMessage="Organisation is required"
                    (ngModelChange)="onOrganisationChange({value: connectionForm.get('organisation')?.value})">
                </app-custom-dropdown>

                <!-- Database Dropdown -->
                <app-custom-dropdown formControlName="database" label="Database" placeholder="Select Database"
                    [options]="databases" optionLabel="name" optionValue="id" [filter]="true" filterBy="name"
                    [required]="true"
                    [showError]="!!(connectionForm.get('database')?.invalid && connectionForm.get('database')?.touched)"
                    errorMessage="Database is required">
                </app-custom-dropdown>

                <!-- DB Username -->
                <app-custom-input formControlName="dbUsername" label="Database Username"
                    placeholder="Enter Database Username" icon="pi-user" [required]="true"
                    [showError]="!!(connectionForm.get('dbUsername')?.invalid && connectionForm.get('dbUsername')?.touched)"
                    errorMessage="Database Username is required">
                </app-custom-input>

                <!-- DB Password -->
                <div class="form-field">
                    <label for="password">Database Password<span class="required"> *</span></label>
                    <span class="p-input-icon-left p-input-icon-right">
                        <i class="pi pi-lock"></i>
                        <input id="password" [type]="showPassword ? 'text' : 'password'" pInputText
                            formControlName="dbPassword" placeholder="Enter password"
                            [ngClass]="{'ng-invalid ng-dirty': connectionForm.get('dbPassword')?.invalid && connectionForm.get('dbPassword')?.touched}">
                        <i class="pi pi-eye" style="cursor: pointer;" (click)="togglePassword($event)"></i>
                    </span>
                    <small class="error-message"
                        *ngIf="connectionForm.get('dbPassword')?.invalid && connectionForm.get('dbPassword')?.touched">
                        <span *ngIf="connectionForm.get('dbPassword')?.errors?.['required']">Database Password is
                            required</span>
                    </small>
                </div>
            </div>
        </form>
    </div>
</div>