<div class="add-admin-wrapper">
  <div class="add-admin-container">
    <div class="page-header">
      <div class="left-section">
        <button
          pButton
          class="p-button-text back-button"
          routerLink="/app/rls-rules"
        >
          <i class="pi pi-arrow-left"></i>
        </button>
        <h2>{{ 'RLS.ADD_TITLE' | translate }}</h2>
      </div>
      <div class="action-buttons">
        <button
          pButton
          type="button"
          [label]="'COMMON.CANCEL' | translate"
          class="p-button-outlined btn-cancel"
          (click)="onCancel()"
        ></button>
        <button
          pButton
          class="p-button-primary btn-save"
          type="submit"
          [label]="'COMMON.SAVE' | translate"
          (click)="onSubmit()"
        >
          <i class="pi pi-save mr-2"></i>
        </button>
      </div>
    </div>

    <form [formGroup]="rlsForm" class="admin-form">
      <div class="form-grid">
        <app-custom-input
          formControlName="name"
          [label]="'RLS.RULE_NAME' | translate"
          [placeholder]="'RLS.ENTER_RULE_NAME' | translate"
          [required]="true"
          [showError]="
            !!(rlsForm.get('name')?.invalid && rlsForm.get('name')?.touched)
          "
          [errorMessage]="getNameError()"
        >
        </app-custom-input>

        <app-custom-input
          formControlName="description"
          [label]="'COMMON.DESCRIPTION' | translate"
          [placeholder]="'COMMON.ENTER_DESCRIPTION' | translate"
        >
        </app-custom-input>

        <app-custom-dropdown
          *ngIf="showOrganisationDropdown"
          formControlName="organisation"
          [label]="'COMMON.ORGANISATION' | translate"
          [placeholder]="'COMMON.SELECT_ORGANISATION' | translate"
          [options]="organisations"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          [autoDisplayFirst]="false"
          [required]="true"
          [showError]="
            !!(
              rlsForm.get('organisation')?.invalid &&
              rlsForm.get('organisation')?.touched
            )
          "
          [errorMessage]="'RLS.ORGANISATION_REQUIRED' | translate"
        >
        </app-custom-dropdown>

        <app-custom-dropdown
          [ngModel]="selectedDatasource"
          [ngModelOptions]="{ standalone: true }"
          [label]="'COMMON.DATASOURCE' | translate"
          [placeholder]="'COMMON.SELECT_DATASOURCE' | translate"
          [options]="datasources"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          [autoDisplayFirst]="false"
          [required]="true"
          (onChangeEvent)="onDatasourceChange($event)"
        >
        </app-custom-dropdown>

        <app-custom-dropdown
          formControlName="datasetId"
          [label]="'RLS.DATASET' | translate"
          [placeholder]="'RLS.SELECT_DATASET' | translate"
          [options]="datasets"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          [autoDisplayFirst]="false"
          [required]="true"
          [showError]="
            !!(
              rlsForm.get('datasetId')?.invalid &&
              rlsForm.get('datasetId')?.touched
            )
          "
          [errorMessage]="'RLS.DATASET_REQUIRED' | translate"
        >
        </app-custom-dropdown>

        <!-- Filter Conditions -->
        <div class="conditions-section" formArrayName="conditions">
          <div class="conditions-header">
            <span class="conditions-label">
              {{ 'RLS.FILTER_CONDITIONS' | translate }} <span class="required">*</span>
            </span>
            <button
              type="button"
              class="btn-add-condition"
              (click)="addCondition()"
            >
              <i class="pi pi-plus"></i> {{ 'RLS.ADD_CONDITION' | translate }}
            </button>
          </div>
          <div class="conditions-hint">
            <i class="pi pi-info-circle"></i>
            {{ 'RLS.ALL_CONDITIONS_ANDED' | translate }}
          </div>
          <div
            class="condition-row"
            *ngFor="
              let cond of conditions.controls;
              let i = index;
              trackBy: trackByIndex
            "
            [formGroupName]="i"
          >
            <div class="condition-fields">
              <div class="condition-top-row">
                <app-custom-dropdown
                  formControlName="columnName"
                  [options]="datasetColumns"
                  optionLabel="columnToView"
                  optionValue="columnToUse"
                  [placeholder]="'RLS.SELECT_COLUMN' | translate"
                  [filter]="true"
                  filterBy="columnToView"
                  [autoDisplayFirst]="false"
                  [required]="true"
                  [showError]="
                    !!(
                      conditions.at(i).get('columnName')?.invalid &&
                      conditions.at(i).get('columnName')?.touched
                    )
                  "
                  [errorMessage]="'RLS.COLUMN_REQUIRED' | translate"
                  (onChangeEvent)="onColumnChange(i, $event)"
                ></app-custom-dropdown>
                <app-custom-dropdown
                  formControlName="operator"
                  [options]="operatorOptions"
                  optionLabel="label"
                  optionValue="value"
                  [autoDisplayFirst]="false"
                  [required]="true"
                ></app-custom-dropdown>
                <button
                  type="button"
                  class="btn-remove-condition"
                  (click)="removeCondition(i)"
                  [disabled]="conditions.length === 1"
                  [pTooltip]="'RLS.REMOVE_CONDITION' | translate"
                  tooltipPosition="bottom"
                >
                  <i class="pi pi-trash"></i>
                </button>
              </div>
              <div class="condition-values-row">
                <app-custom-multiselect
                  formControlName="values"
                  [options]="getColumnValues(i)"
                  optionLabel="label"
                  optionValue="value"
                  [placeholder]="'RLS.SELECT_VALUES' | translate"
                  [filter]="true"
                  filterBy="label"
                  [showToggleAll]="true"
                  display="chip"
                  [maxSelectedLabels]="5"
                  [selectedItemsLabel]="'RLS.VALUES_SELECTED' | translate: { count: '{0}' }"
                  [required]="true"
                  [showError]="
                    !!(
                      conditions.at(i).get('values')?.invalid &&
                      conditions.at(i).get('values')?.touched
                    )
                  "
                  [errorMessage]="'RLS.VALUES_REQUIRED' | translate"
                ></app-custom-multiselect>
              </div>
            </div>
          </div>
        </div>

        <app-custom-toggle
          formControlName="isEnabled"
          [label]="'COMMON.ENABLED' | translate"
          [trueValue]="true"
          [falseValue]="false"
          [trueLabel]="'COMMON.ENABLED' | translate"
          [falseLabel]="'COMMON.DISABLED' | translate"
        >
        </app-custom-toggle>
      </div>
    </form>
  </div>
</div>
