<div class="bubble-chart-container">
  <div class="chart-wrapper">
    <div class="chart-section">
      <div
        echarts
        [options]="chartOption"
        [autoResize]="true"
        class="echart-container"
        [style.width.px]="chartWidth ? chartWidth - 10 : null"
        [style.height.px]="chartHeight ? chartHeight - 10 : null"
        (chartInit)="onChartInit($event)"
        (chartClick)="onChartSelect($event)"
        (chartMouseOver)="onChartMouseOver($event)"
        (chartMouseOut)="onChartMouseOut($event)"
      ></div>
    </div>
  </div>
</div>
