<div class="add-admin-wrapper">
  <div class="add-admin-container">
    <div class="page-header">
      <div class="left-section">
        <button pButton class="p-button-text" routerLink="/app/screen">
          <i class="pi pi-arrow-left"></i>
        </button>
        <h2>Configure Screen</h2>
      </div>
      <div class="action-buttons">
        <button
          pButton
          type="button"
          [label]="isFreeze ? 'Unfreeze' : 'Freeze'"
          class="p-button-outlined"
          (click)="isFreeze = !isFreeze"
        >
          <i
            class="pi"
            [class.pi-lock]="isFreeze"
            [class.pi-lock-open]="!isFreeze"
          ></i>
        </button>
        <button
          pButton
          type="button"
          label="Cancel"
          class="p-button-outlined p-button-danger"
        ></button>
        <button pButton class="p-button-outlined" type="submit" label="Save">
          <i class="pi pi-save mr-2"></i>
        </button>
      </div>
    </div>
    <div class="screen-wrapper">
      <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
        <div class="sidebar-content">
          <div class="rotated-title" *ngIf="isSidebarCollapsed">T A B S</div>
          <h3 *ngIf="!isSidebarCollapsed">Available Tabs</h3>
          <div class="tab-cards" *ngIf="!isSidebarCollapsed">
            <div
              *ngFor="let tab of tabsData"
              class="tab-card"
              (click)="onTabClick(tab)"
              [pTooltip]="tab.description"
              tooltipPosition="right"
            >
              <div class="tab-info">
                <span class="tab-name">{{ tab.name }}</span>
                <span class="section-count"
                  >- {{ tab.sections?.length || 0 }} Section(s)</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="separator">
        <button class="toggle-btn" (click)="toggleSidebar()">
          <i
            class="pi"
            [class.pi-chevron-left]="!isSidebarCollapsed"
            [class.pi-chevron-right]="isSidebarCollapsed"
          ></i>
        </button>
      </div>

      <div class="main-content" [class.expanded]="isSidebarCollapsed">
        <div class="helper-text-container" *ngIf="!openTabs.length">
          <div class="helper-text">Click on tab to configure screen</div>
        </div>

        <div class="tab-container">
          <p-tabView
            [(activeIndex)]="activeTabIndex"
            [scrollable]="true"
            class="full-height-tabs"
            *ngIf="openTabs.length"
          >
            <p-tabPanel
              *ngFor="let tab of openTabs; let i = index"
              [header]="tab.name"
              [selected]="i === activeTabIndex"
            >
              <ng-template pTemplate="header">
                <div class="tab-header-content">
                  <span>{{ tab.name }}</span>
                  <i
                    *ngIf="!isFreeze"
                    class="pi pi-times tab-close"
                    (click)="
                      handleTabClose(i);
                      $event.preventDefault();
                      $event.stopPropagation()
                    "
                  ></i>
                </div>
              </ng-template>
              <div class="tab-content">
                <div class="tab-header">
                  <h3>{{ tab.name }}</h3>
                  <p>{{ tab.description }}</p>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>
