<div class="add-admin-wrapper">
  <div class="add-admin-container">
    <!-- Header Section -->
    <div class="page-header">
      <div class="left-section">
        <button
          pButton
          class="p-button-text back-button"
          routerLink="/app/users"
        >
          <i class="pi pi-arrow-left"></i>
        </button>
        <h2>{{ 'USER.ADD_TITLE' | translate }}</h2>
      </div>
      <div class="action-buttons">
        <button
          pButton
          type="button"
          [label]="'COMMON.CANCEL' | translate"
          class="p-button-outlined btn-cancel"
          [disabled]="!isFormDirty"
          (click)="onCancel()"
        ></button>
        <button
          pButton
          class="p-button-primary btn-save"
          type="submit"
          [label]="'COMMON.SAVE' | translate"
          (click)="onSubmit()"
          [disabled]="userForm.invalid || saving()"
        >
          <i class="pi pi-save mr-2"></i>
        </button>
      </div>
    </div>

    <!-- Form Section -->
    <form [formGroup]="userForm" class="admin-form">
      <div class="form-grid">
        <!-- First Name -->
        <app-custom-input
          formControlName="firstName"
          [label]="'COMMON.FIRST_NAME' | translate"
          [placeholder]="'COMMON.ENTER_FIRST_NAME' | translate"
          icon="pi-user"
          [required]="true"
          [showError]="
            !!(
              userForm.get('firstName')?.invalid &&
              userForm.get('firstName')?.touched
            )
          "
          [errorMessage]="getFirstNameError()"
        >
        </app-custom-input>

        <!-- Last Name -->
        <app-custom-input
          formControlName="lastName"
          [label]="'COMMON.LAST_NAME' | translate"
          [placeholder]="'COMMON.ENTER_LAST_NAME' | translate"
          icon="pi-user"
          [required]="true"
          [showError]="
            !!(
              userForm.get('lastName')?.invalid &&
              userForm.get('lastName')?.touched
            )
          "
          [errorMessage]="getLastNameError()"
        >
        </app-custom-input>

        <!-- Username -->
        <app-custom-input
          formControlName="username"
          [label]="'COMMON.USERNAME' | translate"
          [placeholder]="'COMMON.ENTER_USERNAME' | translate"
          icon="pi-user-edit"
          [required]="true"
          [showError]="
            !!(
              userForm.get('username')?.invalid &&
              userForm.get('username')?.touched
            )
          "
          [errorMessage]="getUsernameError()"
        >
        </app-custom-input>

        <!-- Email -->
        <app-custom-input
          formControlName="email"
          [label]="'COMMON.EMAIL' | translate"
          [placeholder]="'COMMON.ENTER_EMAIL' | translate"
          icon="pi-envelope"
          type="email"
          [required]="true"
          [showError]="
            !!(userForm.get('email')?.invalid && userForm.get('email')?.touched)
          "
          [errorMessage]="
            userForm.get('email')?.errors?.['required']
              ? ('VALIDATION.EMAIL_REQUIRED' | translate)
              : userForm.get('email')?.errors?.['email']
                ? ('VALIDATION.EMAIL_INVALID' | translate)
                : ''
          "
        >
        </app-custom-input>

        <!-- Organisation Dropdown -->
        <app-custom-dropdown
          *ngIf="showOrganisationDropdown"
          formControlName="organisation"
          [label]="'COMMON.ORGANISATION' | translate"
          [placeholder]="'USER.SELECT_ORGANISATION' | translate"
          [options]="organisations"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          [required]="true"
          [showError]="
            !!(
              userForm.get('organisation')?.invalid &&
              userForm.get('organisation')?.touched
            )
          "
          [errorMessage]="'USER.ORGANISATION_REQUIRED' | translate"
          (onChangeEvent)="onOrganisationChange($event)"
        >
        </app-custom-dropdown>

        <!-- Groups -->
        <div class="form-field">
          <label>{{ 'USER.GROUPS' | translate }} <span class="required">*</span></label>
          <app-custom-multiselect
            formControlName="groupIds"
            [options]="groups"
            optionLabel="name"
            optionValue="id"
            [placeholder]="'USER.SELECT_GROUPS' | translate"
            display="chip"
            [filter]="true"
            appendTo="body"
          ></app-custom-multiselect>
          <small
            class="error-text"
            *ngIf="
              userForm.get('groupIds')?.touched &&
              userForm.get('groupIds')?.errors?.['required']
            "
          >
            {{ 'USER.GROUP_REQUIRED' | translate }}
          </small>
        </div>
      </div>
    </form>
  </div>
</div>
