<div class="add-admin-wrapper">
  <div class="add-admin-container">
    <!-- Header Section -->
    <div class="page-header">
      <div class="left-section">
        <button pButton class="p-button-text" routerLink="/app/screen">
          <i class="pi pi-arrow-left"></i>
        </button>
        <h2>Add Screen</h2>
      </div>
      <div class="action-buttons">
        <button pButton type="button" label="Cancel" class="p-button-outlined p-button-danger" [disabled]="!isFormDirty"
          (click)="onCancel()"></button>
        <button pButton class="p-button-outlined" type="submit" label="Save" (click)="onSubmit()"
          [disabled]="screenForm.invalid">
          <i class="pi pi-save mr-2"></i>
        </button>
      </div>
    </div>

    <!-- Form Section -->
    <form [formGroup]="screenForm" class="admin-form">
      <!-- Organisation and Database dropdowns -->
      <div class="form-grid">


        <div class="form-field">
          <app-custom-input formControlName="name" label="Name" placeholder="Enter name" icon="pi-box" [required]="true"
            [showError]="!!(screenForm.get('name')?.invalid && screenForm.get('name')?.touched)"
            [errorMessage]="screenForm.get('name')?.errors?.['required'] ? 'Name is required' : 
                           screenForm.get('name')?.errors?.['pattern'] ? 'Name can only contain letters, spaces and hyphens' : ''">
          </app-custom-input>
        </div>

        <div class="form-field">
          <app-custom-input formControlName="description" label="Description" placeholder="Enter description"
            icon="pi-align-left">
          </app-custom-input>
        </div>

        <div class="form-field" *ngIf="showOrganisationDropdown">
          <app-custom-dropdown formControlName="organisation" label="Organisation" placeholder="Select Organisation"
            [options]="organisations" optionLabel="name" optionValue="id" [filter]="true" filterBy="name"
            [required]="true"
            [showError]="!!(screenForm.get('organisation')?.invalid && screenForm.get('organisation')?.touched)"
            errorMessage="Organisation is required" (onChangeEvent)="onOrganisationChange({value: $event})">
          </app-custom-dropdown>
        </div>

        <div class="form-field">
          <app-custom-dropdown formControlName="database" label="Database" placeholder="Select Database"
            [options]="databases" optionLabel="name" optionValue="id" [filter]="true" filterBy="name" [required]="true"
            [showError]="!!(screenForm.get('database')?.invalid && screenForm.get('database')?.touched)"
            errorMessage="Database is required">
          </app-custom-dropdown>
        </div>
      </div>
    </form>
  </div>
</div>