<div class="add-admin-wrapper">
  <div class="add-admin-container">
    <!-- Header Section -->
    <div class="page-header">
      <div class="left-section">
        <button pButton class="p-button-text" routerLink="/app/role">
          <i class="pi pi-arrow-left"></i>
        </button>
        <h2>{{ 'ROLE.ADD_TITLE' | translate }}</h2>
      </div>
      <div class="action-buttons">
        <button
          pButton
          type="button"
          [label]="'COMMON.CANCEL' | translate"
          class="p-button-outlined btn-cancel"
          [disabled]="!isFormDirty"
          (click)="onCancel()"
        ></button>
        <button
          pButton
          class="p-button-primary btn-save"
          type="submit"
          [label]="'COMMON.SAVE' | translate"
          (click)="onSubmit()"
          [disabled]="roleForm.invalid || saving()"
        >
          <i class="pi pi-save mr-2"></i>
        </button>
      </div>
    </div>

    <!-- Form Section -->
    <form [formGroup]="roleForm" class="admin-form">
      <!-- Basic Info Section -->
      <div class="basic-info-section">
        <!-- Role Name -->
        <app-custom-input
          formControlName="name"
          [label]="'ROLE.ROLE_NAME' | translate"
          [placeholder]="'ROLE.ENTER_ROLE_NAME' | translate"
          icon="pi-box"
          [required]="true"
          [showError]="
            !!(roleForm.get('name')?.invalid && roleForm.get('name')?.touched)
          "
          [errorMessage]="getNameError()"
        >
        </app-custom-input>

        <!-- Description -->
        <app-custom-input
          formControlName="description"
          [label]="'ROLE.ROLE_DESCRIPTION' | translate"
          [placeholder]="'ROLE.ENTER_ROLE_DESCRIPTION' | translate"
          icon="pi-align-left"
        >
        </app-custom-input>

        <!-- Organisation -->
        <app-custom-dropdown
          *ngIf="showOrganisationDropdown"
          formControlName="organisation"
          [label]="'COMMON.ORGANISATION' | translate"
          [placeholder]="'ROLE.SELECT_ORGANISATION' | translate"
          [options]="organisations"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          [required]="true"
          [showError]="
            !!(
              roleForm.get('organisation')?.invalid &&
              roleForm.get('organisation')?.touched
            )
          "
          [errorMessage]="'VALIDATION.ORGANISATION_REQUIRED' | translate"
          (onChangeEvent)="onOrganisationChange({ value: $event })"
        >
        </app-custom-dropdown>
      </div>

      <!-- Permissions Section -->
      <div class="permissions-section" *ngIf="permissions.length > 0">
        <label class="section-title"
          >{{ 'ROLE.SCREEN_PERMISSIONS' | translate }}<span class="required"> *</span></label
        >

        <div class="permissions-grid">
          <div class="permission-columns">
            <div
              class="column"
              *ngFor="let permission of permissions; trackBy: trackByIndex"
            >
              <div class="column-header">{{ permission.label }}</div>
              <div class="permission-items">
                <div class="permission-item" *ngIf="!permission.subPermissions">
                  <span class="item-label">{{ permission.label }}</span>
                  <app-custom-toggle
                    [formControl]="getPermissionControl(permission.value)"
                    (onChange)="onPermissionChange(permission, $event)"
                    [showStatusLabel]="false"
                    [disabled]="permission.value === 'home'"
                  ></app-custom-toggle>
                </div>

                <ng-container *ngIf="permission.subPermissions">
                  <div
                    class="permission-item"
                    *ngFor="
                      let subPerm of permission.subPermissions;
                      trackBy: trackByIndex
                    "
                  >
                    <span class="item-label">{{ subPerm.label }}</span>

                    <app-custom-toggle
                      [formControl]="getPermissionControl(subPerm.value)"
                      (onChange)="onPermissionChange(subPerm, $event)"
                      [showStatusLabel]="false"
                    ></app-custom-toggle>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
