<p-selectButton
  class="fb-inspector__switch"
  [options]="viewOptions"
  [ngModel]="view()"
  (onChange)="view.set($event.value)"
  optionValue="value"
>
  <ng-template let-item pTemplate>{{ item.label | translate }}</ng-template>
</p-selectButton>

<div class="fb-inspector__body">
  <fb-properties-panel
    *ngIf="view() === 'design'"
    [selected]="selected()"
  ></fb-properties-panel>
  <fb-rule-builder
    *ngIf="view() === 'rules'"
    [selected]="selected()"
  ></fb-rule-builder>
  <fb-rbac-editor
    *ngIf="view() === 'access'"
    [selected]="selected()"
  ></fb-rbac-editor>
  <fb-preview *ngIf="view() === 'preview'"></fb-preview>
</div>
