.slider-preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  &.vertical {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 200px;

    ::ng-deep .p-slider {
      height: 200px;
    }
  }

  .range-values {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: var(--text-color);

    strong {
      color: var(--primary-color);
    }
  }
}
