<div class="card-chart-container">
    <div class="chart-wrapper">
        <div class="card-grid" [style.gap.px]="config.innerPadding">
            <div *ngFor="let item of data; let i = index"
                class="card-item"
                [class.animated]="config.animations"
                [style.background-color]="getCardColor(i)"
                (click)="onCardSelect(item)">
                <div class="card-band" [style.background-color]="getBandColor(i)"></div>
                <div class="card-content">
                    <div class="card-value" [style.color]="getTextColor()">
                        {{ formatValue(item.value) }}
                    </div>
                    <div class="card-label" [style.color]="getTextColor()">
                        {{ item.name }}
                    </div>
                </div>
            </div>
            <div *ngIf="data.length === 0" class="card-empty">
                No data available
            </div>
        </div>
    </div>
</div>