:host {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.card-chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chart-wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 0;
}

.chart-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  min-height: 150px;
  min-width: 200px;
  contain: layout style;

  ngx-charts-number-card {
    width: 100%;
    height: 100%;
    flex: 1;
    display: block;
  }

  // Card specific styles
  ::ng-deep {
    .ngx-charts-outer {
      overflow: visible !important;
    }
    
    .cell {
      .value-text, .label-text {
        fill: inherit !important;
      }
    }
  }
}
