<div class="run-query-container">
  <!-- Main horizontal splitter -->
  <p-splitter
    [style]="{ height: '100%', width: '100%' }"
    [panelSizes]="[20, 80]"
    [minSizes]="[15, 50]"
    layout="horizontal"
    styleClass="main-horizontal-splitter"
  >
    <!-- Left Panel - Schema Browser -->
    <ng-template pTemplate>
      <div class="schema-panel">
        <div class="panel-header">
          <i class="pi pi-database"></i>
          <span>Database Schema</span>
        </div>
        <div class="panel-content">
          <p-tree
            [value]="schemaTree"
            [filter]="true"
            filterMode="lenient"
            filterPlaceholder="Search schema..."
            scrollHeight="100%"
            styleClass="schema-tree"
          >
            <ng-template let-node pTemplate="default">
              <div class="tree-node-content">
                <i [class]="getNodeIcon(node)"></i>
                <span class="node-label">{{ node.label }}</span>
                <span class="node-type" *ngIf="node.data?.type">{{
                  node.data.type
                }}</span>
              </div>
            </ng-template>
          </p-tree>
        </div>
      </div>
    </ng-template>

    <!-- Right Panel - Editor and Results -->
    <ng-template pTemplate>
      <!-- Vertical splitter for editor and results -->
      <p-splitter
        [style]="{ height: '100%', width: '100%' }"
        [panelSizes]="[50, 50]"
        [minSizes]="[30, 20]"
        layout="vertical"
        styleClass="editor-results-splitter"
      >
        <!-- Top Panel - SQL Editor -->
        <ng-template pTemplate>
          <div class="editor-panel">
            <div class="panel-header">
              <i class="pi pi-code"></i>
              <span>SQL Editor</span>
              <div class="editor-actions">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  label="New Script"
                  class="p-button-primary p-button-sm p-button-outlined"
                  (click)="addNewTab()"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-play"
                  label="Execute"
                  class="p-button-success p-button-sm"
                  (click)="executeQuery()"
                  [disabled]="isExecuting"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-times"
                  label="Clear"
                  class="p-button-secondary p-button-sm p-button-outlined"
                  (click)="clearEditor()"
                ></button>
              </div>
            </div>
            <div class="editor-tabs">
              <div
                *ngFor="let tab of tabs"
                class="editor-tab"
                [class.active]="tab.id === activeTabId"
                (click)="switchTab(tab.id)"
              >
                <span class="tab-title">{{ tab.title }}</span>
                <i
                  class="pi pi-times tab-close"
                  *ngIf="tabs.length > 1"
                  (click)="closeTab(tab.id, $event)"
                ></i>
              </div>
            </div>
            <div class="panel-content">
              <div #monacoEditor class="sql-editor-monaco"></div>
            </div>
          </div>
        </ng-template>

        <!-- Bottom Panel - Results -->
        <ng-template pTemplate>
          <div class="results-panel">
            <div class="panel-header">
              <i class="pi pi-table"></i>
              <span>Query Results</span>
              <div class="results-info" *ngIf="queryResults.length > 0">
                <span class="result-count">{{ queryResults.length }} rows</span>
                <span class="execution-time" *ngIf="executionTime"
                  >{{ executionTime }}ms</span
                >
              </div>
            </div>
            <div class="panel-content">
              <p-table
                [value]="queryResults"
                [columns]="resultColumns"
                [paginator]="true"
                [rows]="25"
                [rowsPerPageOptions]="[10, 25, 50, 100]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="resultColumns"
                styleClass="results-table"
                [scrollable]="true"
                scrollHeight="flex"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th
                      *ngFor="let col of resultColumns"
                      [pSortableColumn]="col"
                    >
                      {{ col }}
                      <p-sortIcon [field]="col"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row>
                  <tr>
                    <td *ngFor="let col of resultColumns">
                      <span class="cell-content" [title]="row[col]">
                        {{ row[col] }}
                      </span>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td
                      [attr.colspan]="resultColumns.length || 1"
                      class="empty-message"
                    >
                      <div class="empty-state">
                        <i class="pi pi-inbox"></i>
                        <p>No results to display</p>
                        <small>Execute a query to see results</small>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</div>
