<div class="gauge-chart-container">
    <div class="chart-wrapper">
        <div class="chart-section">
            <!-- Standard Gauge Chart -->
            <ng-container *ngIf="chartType === 'gauge'">
                <div echarts [options]="chartOption" [autoResize]="true"
                    class="echart-container"
                    [style.width.px]="chartWidth ? chartWidth - 20 : null"
                    [style.height.px]="chartHeight ? chartHeight - 45 : null"
                    (chartInit)="onChartInit($event)"
                    (chartClick)="onChartSelect($event)">
                </div>
            </ng-container>

            <!-- Linear Gauge Chart (Custom HTML) -->
            <ng-container *ngIf="chartType === 'linear-gauge'">
                <div class="linear-gauge-wrapper" (click)="onLinearGaugeClick()">
                    <div class="linear-gauge-label">{{ config.units }}</div>
                    <div class="linear-gauge-track">
                        <div class="linear-gauge-fill"
                            [style.width.%]="linearPercentage"
                            [style.background-color]="linearGaugeColor">
                        </div>
                    </div>
                    <div class="linear-gauge-values">
                        <span class="linear-gauge-min">{{ config.min }}</span>
                        <span class="linear-gauge-current">{{ linearValue }}</span>
                        <span class="linear-gauge-max">{{ config.max }}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>